@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');

.card{
    width: 297.75px
}

.card-body{
    padding: 0!important;
}

.card-body .card-text{
    font-family: 'PT Sans', sans-serif;
    font-size: 15px;
    color: #7D7D7D;
}

.card-body .col{
    padding: 0;
    font-size: 1rem;
}

.card-body .row{
    font-size: 15px;
}

.card-body .row a{
    text-decoration: none;
    color: #000000;
    display: flex;
    align-items: center;
}

.card-body .card-title{
    font-weight:bold;
    font-size: 17px
}

.card-body .icon-attention{
    color: #002F50;
}

.card-body .icon-place{
    color: #FFA500;
    font-size: 20px;
}

.card-body .carOrWalk-card svg{
    font-size: 20px;
    margin-right: 2px;
    color: #FFA500;
}

.card-body .carOrWalk-card{
    display: flex;
    align-items: center;
}

@media screen and (max-width: 767px) {
    .card{
        width: 100%;
    }

    .card-body .card-title{
        font-weight:bold;
        font-size: 18px
    }

    .card-body .card-text{
        font-family: 'PT Sans', sans-serif;
        font-size: 17px;
        color: #7D7D7D;
    }
}
.card {
    margin-bottom: 1.5rem; /* Espacio entre las tarjetas */
}
